.card {
    position: relative;
    width: 100px;
    height: 140px;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.1);
}

.card img {
    height: 100%;
    width: 100%;
    border: 2px solid lightslategray;
    border-radius: 6px;
    background-color: #2C3E50;
    object-fit: contain;
}

.card .front {
    transform: rotateY(90deg);
    transition: all ease-in 0.2s;
    position: absolute;
}

.flipped .front {
    transform: rotateY(0deg);
    transition-delay: 0.2s;
}

.card .back {
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
}

.flipped .back {
    transform: rotateY(90deg);
    transition-delay: 0s;
}